@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200;1,6..12,400&family=Roboto+Mono:wght@200&family=Sedgwick+Ave+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&family=Nunito+Sans:ital,opsz,wght@0,6..12,200;1,6..12,400&family=Roboto+Mono:wght@200&family=Sedgwick+Ave+Display&display=swap');
/* Estilos generales */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Manrope', sans-serif;
    /* font-size: 40px; */
}

body {
    background-color: rgba(233, 233, 233, 0.922);}

/* Estilos del encabezado */
.header {
    background-color: #252B48;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    padding: 5px 10%;
    position: static;

}
/* Estilos del exitBtn */
.header img{
    cursor: pointer;
    height: 33px;
    margin-top: 11px;
}


.header .exitBtn h2{
    transition: all 0.3s;
    text-decoration: none;
}

.header .exitBtn h2:hover {
    transform: scale(1.2);
}
/* Estilos del Titulo */
.header div h1 {
    display: inline-block;
    color: beige;
    padding: 0 20px;
    transition: all 0.3s;
    font-weight: 800;
    /* font-family: 'Crimson Text', serif; */
    
    transition: color 0.3s, transform 0.3s; /* Transición de color y transformación */
}

.header div h1:hover {
    color: #e5922c;
    cursor: pointer;
    
    transform: scale(1.5) translateX(0); /* Incrementa el tamaño en hover y bloquea el movimiento en X */
}



/* Estilos del menú hamburguesa */
.header .menu-icon i {
    font-size: 30px
    
}

.header .menu-icon i:hover {
    color: #00ffc3;
    transform: scale(1.1);
}

.header .menu-icon button:hover {
    background-color: #e2f1f8;
    color: white;
    transform: scale(1.1);
}

/* Estilos del menú lateral */
.side-menu {
    position: fixed;
    top: 0;
    left: -250px; 
    width: 250px;
    height: 100%;
    background-color: #252B48;
    padding: 20px;
    transition: left 0.3s;
    border: solid 1px;
    z-index: 2; /* Set a higher z-index value */
}




.side-menu header {
    text-align: center;
    color: white;
    font-size: 30px;
}

.side-menu ul {
    
    list-style: none;
    padding: 0;
}

.side-menu ul li {
    margin-bottom: 15px;
}

.side-menu ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.side-menu #x {
    background-color: transparent;
    border: none;
    font-size: 20px;
    color: white;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 3; /* Ensure the X button is above both menu and login */
    transition: transform 0.3s;
}

.side-menu #x:hover {
    transform: scale(1.2);
}

.borrarDato{
    text-align: center;
    margin:7% 10%;
    height: fit-content;
    width: 80%;
    /* border-color: black; */
    /* border-width: 10px; */
    /* border-style: solid; */
    border-radius: 10px;
    box-shadow: grey 0px 0px 11px;
}

.borrarDato h2{
    padding: 20px
}

.borrarDato p{
    margin: 19px
}

.borrarDato form {
    display: block;
    padding: 15px;
}
.borrarDato form a{
    text-decoration: none;
    margin-right: 120px;
}

